*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right:25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 75%;
    padding: 1px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(white,#ffd6d6)
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.col-4 img{
    width: 100%;
    height: 300px;
}
.col-4:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title:after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b ;
}
.offer{
    background: radial-gradient(white,#ffd6d6);
    padding: 20px 0;
}
.offer h1{
    font-size: 30px;
    margin: 10px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}
.testemonial{
    background: radial-gradient(#fff);
    padding-bottom: 20px;
}
.testemonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 25%;
    transition: all 0.5s ease;
}
.testemonial .col-3 img{
    width: 50px;
    margin-top:20px;
    border-radius: 50%;
}
.testemonial .col-3:hover{
    transform: translateY(-10px);
}
.fa .fa-qoute-left{
    font-size: 34px;
    color:#ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testemonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 20px 0 10px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
   width: 180px;
   margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 20px;
    margin-left: 20px;
    display: none;
}
/*------Contact page-----*/
.contaienr-contact{
    background: radial-gradient(white,#ffd6d6);
}
.contact-container{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.contact-left{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title{
    font-weight: 600;
    color: #ff523b;
    font-size: 15px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: whitesmoke;
    border-radius:10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff523b;
}
.contact-input::placeholder{
    color: #ffd6d6;
}
.contact-left{
    display:flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: radial-gradient(white,#ffd6d6);
    cursor: pointer;

}
.contact-left button{
    display:flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: radial-gradient(#ff523b);
    cursor: pointer;

}
.contact-right img{
    width: 500px;
}


  





















/*---All products---*/
.row-2{
    justify-content: space-between;
    margin: 15px auto 10px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color:white;
}

/*---single product details---*/

.single-product{
    margin-top: 5px;
}
.single-product h1{
    font-size: 35px;
    line-height: 32px;
}
.Single img{
    width: 100%;
    height: 370px;
}
.small-single img{
    width: 100%;
    height: 95px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 10px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.select-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline:none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 25%;
    cursor: pointer;
}

/*------cart items------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
   display: flex;
   flex-wrap: wrap; 
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background:#ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-prize{
    display: flex;
    justify-content: flex-end;
}
.total-prize table{
    border-top:3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.btn{
    border: none;
}
.removeBtn{
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: radial-gradient(#ff523b);
    cursor: pointer;
}
.removeBtn:hover{
    background: #563434;
}
/*------account page-----*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;

}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm {
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}






/*---media query---*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .cart-info p{
        display: none;
    }
    .contact-container{
        justify-content: center;
        display: flex;
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}